body {
	font-family: 'Montserrat', sans-serif;
	font-size: 42px;
	font-weight: 400;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.hidden {
    display: none;
}

.img-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-img {
  width: 350px;
  height: auto;
}
  

.header-text {
  text-align: center;
  margin-top: 5px;
}

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
}

.buttons button {
  border: none;
  outline: none;
  background: none;
}

.buttons button .init-img {
  width: 175px;
  height: auto;
}

.buttons button .hover-img {
  width: 195px;
  height: auto;
  display: none;
}

.buttons button:hover .hover-img,
.buttons button:focus .hover-img {
  display: inline-block;
}

.buttons button:hover .init-img,
.buttons button:focus .init-img {
  display: none;
}